<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Contact Form</title>
</head>
  <p>Mesaj de pe contact form-ul din Portofoliu!</p>
  <p>Mr/Mrs <strong>{{name}}</strong> has a message for you: </p>
  <p>---------------------</p>
  <p>"<i>{{message}}</i>"</p>
  <p>---------------------</p>
  <p>If you wish to reply, please send your reply at:<br />
    Email: <a href="mailto:{{email}}">{{email}}</a>
  </p>
</body>
</html>