@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

li {
  list-style: none;
}

.container {
  --max-width: 1440px;
  --padding: 3em;
  /* width: min(var(--max-width), 100% - var(--padding)); */
  max-width: var(--max-width);
  padding: 0 var(--padding);
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 50em) {
  .container {
    --padding: 1em;
  }
}
.theme-div {
  min-width: 30px;
}

.app.dark {
  --text: #7c7c7c;
  --text-menu: #7c7c7c;
  --bg: #171717;
  --accent: #d9d9d9;
  --heading: #d9d9d9;
  --text-hover: #d9d9d9;
  --menu-bg: rgba(0, 0, 0, 0.4);
  --menu-border: rgba(0, 0, 0, 0.3);
  --player-bg: rgba(255,255,255,0.05);
  --slider-progress: rgba(255,255,255,0.3);
}
.app.light {
  --text: #171717;
  --text-menu: #7c7c7c;
  --bg: #d9d9d9;
  --accent: #5c5c5c;
  --heading: #171717;
  --text-hover: #5c5c5c;
  --menu-bg: rgba(255, 255, 255, 0.2);
  --menu-border: rgba(255, 255, 255, 0.3);
  --player-bg: rgba(255,255,255,0.4);
  --slider-progress: rgba(0,0,0,0.3);
}

.app {
  background: var(--bg);
  transition: all ease-in-out .3s;
}

.clickable {
  transition: color ease .2s;
}
.clickable:hover {
  color: var(--text-hover);
}

h1 {
  color: var(--heading)
}
.project h2 {
  color: var(--heading)
}
.song-name {
  color: var(--heading);
}

.text {
  color: var(--text);
  transition: all ease-in-out .3s;
}
.text-menu {
  color: var(--text-menu);
}

.button {
  background: none;
  border: solid 1.5px var(--text);
  text-align: center;
  vertical-align: middle;
  transition: all ease-in-out .2s;
}
.button:hover {
  border: solid 1.5px var(--heading)
}
.button-menu {
  background: none;
  border: solid 1.5px var(--text-menu);
  text-align: center;
  vertical-align: middle;
  transition: all ease-in-out .2s;
}
.button-menu:hover {
  border: solid 1.5px var(--text-hover);
}

.even-columns {
  display: grid;
  gap: 1em;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
  }
}

.nav {
  width: 100%;
}

.nav-bg-visible {
  /* background: var(--bg); */
  -webkit-box-shadow: 0px 7px 68px -14px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 7px 68px -14px rgba(0,0,0,0.3);
  box-shadow: 0px 7px 68px -14px rgba(0,0,0,0.3);
  transition: all ease-in-out .3s;

  /* From https://css.glass */
  background: var(--menu-bg);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  /* border: 1px solid var(--menu-border); */
}

.side-menu {
/* From https://css.glass */
background: var(--menu-bg);
border-radius: 16px 0 0 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);
border: 1px solid var(--menu-border);
min-width: 280px;
}

.custom-selector select {
  border: none;
  background: none;
  color: var(--text);
  outline: none;
  cursor: pointer;
  appearance: none;
}

.toggle-icons {
  position: relative;
  width: 25px;
  height: 25px;
}
.icon-toggle {
  position: absolute;
  top: 0;
}

/* introduction */

.introduction-icon {
  color: var(--text);
  transition: all ease-in-out .3s;
}
.introduction-icon:hover {
  color: var(--text-hover);
}

.introduction-text {
  max-width: 50ch;
}

.scroll {
  color: var(--text);
}

/* projects section */

.division-line {
  background: var(--text);
  height: 1px;
}
.projects-container {
  display: grid;
  grid-template-columns: 100px 1fr;
}
@media (max-width: 50em) {
  .projects-container {
    display: grid;
    grid-template-columns: 0 1fr;
  }
  .projects-selector {
    justify-content: center;
  }
}
.project {
  width: 350px;
  overflow: hidden;
}
.project img {
  width: 100%;
}
@media (max-width: 31.25em) {
  .project {
    width: 100%;
  }
}

.projects-github {
  writing-mode: vertical-lr;
}

/* about section */

.music-player {
  background: var(--player-bg);
  max-width: 350px;
  box-shadow: 0 10px 25px -5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 10px 25px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 10px 25px -5px rgba(0,0,0,0.3);
}

.slider-progress {
  appearance: none;
  width: 100%;
  height: .25em;
  border-radius: 5em;
  background-color: var(--slider-progress);
}
.slider-progress::-webkit-slider-thumb {
  appearance: none;
  width: .6em;
  height: .6em;
  background: var(--text);
  border-radius: 10em;
  cursor: pointer;
}
.slider-volume {
  appearance: none;
  width: 100%;
  height: .25em;
  border-radius: 5em;
  background-color: var(--slider-progress);
}
.slider-volume::-webkit-slider-thumb {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: white;
  border-radius: 10em;
  cursor: pointer;
  box-shadow: 1px 6px 18px -4px rgba(0,0,0,0.79);
  -webkit-box-shadow: 1px 6px 18px -4px rgba(0,0,0,0.79);
  -moz-box-shadow: 1px 6px 18px -4px rgba(0,0,0,0.79);
}

/* .skill-illustration {
  max-height: 450px; 
  overflow: hidden;
} */
.skill-illustration img {
  width: 100%;
  object-fit: cover;
  max-width: 500px;
}

.accent-text {
  color: var(--slider-progress);
}